<nav class="navbar navbar-default navbar-fixed-top">
    <a href="#" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left backSign"></span>
    </a>
    <div class="white">
        <Profile></Profile>
    </div>
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-ok plusSign"></span>
        </a>
    </p>
</nav>


<div class="container">
    <h1>Profile</h1>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" ng-model="model.user.username" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" ng-model="model.user.firstName" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" ng-model="model.user.lastName" id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#!/user/{{model.userId}}/website">Websites</a>
    <a class="btn btn-danger  btn-block"
       href="#!/">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-user userIcon"></span>
        </a>
    </p>
</nav>