<nav class="navbar navbar-default navbar-fixed-top grey">
    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left backSignBlack"></span>
    </a>
    <div class="black">
        Widget: {{type}} Edit
    </div>
</nav>

<div ng-include="template"></div>

<nav class="navbar navbar-default navbar-fixed-bottom grey">
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-user userIconBlack"></span>
        </a>
    </p>
</nav>