<nav class="navbar navbar-default navbar-fixed-top grey">
    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left backSignBlack"></span>
    </a>
    <div class="black">
        Widget List
    </div>
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
           class="navbar-link">
            <span class="glyphicon glyphicon-plus plusSignBlack"></span>
        </a>
    </p>
</nav>


<div class="container-fluid" wd-draggable>
    <ul ng-repeat="widget in model.widgets">
        <ui ng-include="model.getTemplate(widget.widgetType)"></ui>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom grey">
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-user userIconBlack"></span>
        </a>
    </p>
</nav>