<div class="container-fluid editor">
    <div class="row">
        <b>Text</b>
        <br/>
        <input class="form-control" ng-model="model.widget.text" type="text" placeholder="Text"></input>
        <b>Size</b>
        <br/>
        <input class="form-control" ng-model="model.widget.size" type="text" placeholder="Size"></input>
        <a class="btn btn-danger deleteBtn"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">Delete</a>
    </div>
</div>