<div class="container-fluid editor">
    <div class="row">
        <b>Name</b>
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <input class="form-control" ng-model="model.widget.name" type="text" placeholder="Name">
        <b>Text</b>
        <br/>
        <input ng-model="model.widget.text" class="form-control" placeholder="Text"/>
        <b>Rows</b>
        <br/>
        <input ng-model="model.widget.rows" class="form-control" type="number" placeholder="Rows"/>
        <b>Placeholder</b>
        <br/>
        <input ng-model="model.widget.placeholder" class="form-control" placeholder="Placeholder"/>
        Formatted
        <br/>
        <input ng-model="model.widget.formatted" class="" type="checkbox"/>
        <a class="btn btn-primary confirmButton myButton" ng-click="model.updateWidget()">Update</a>
        <a class="btn btn-danger deleteBtn myButton" ng-click="model.deleteWidget()">Delete</a>
    </div>
</div>
