<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs left">
            <nav class="navbar navbar-default navbar-fixed-top leftNav">
                <a href="#!/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left backSign"></span>
                </a>
                <div class="white">
                    Website
                </div>
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus plusSign"></span>
                    </a>
                </p>
            </nav>
            <ul class="list-group">

            </ul>
        </div>
        <div class="col-sm-4 right">
            <nav class="navbar navbar-default navbar-fixed-top rightNav">
                <a href="#!/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left backSign"></span>
                </a>
                <div class="white">
                    Edit Website
                </div>
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-ok plusSign"></span>
                    </a>
                </p>
            </nav>
            <b>Website Name</b>
            <br/>
            <input class="form-control" type="text" placeholder="Name">
            <br/>
            <b>Website Description</b>
            <br/>
            <textarea class="form-control largeInput" type="text" placeholder="Description"></textarea>
            <a class="btn btn-danger deleteBtn" href="#!/user/{{model.userId}}/website">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-user userIcon"></span>
        </a>
    </p>
</nav>